{% extends 'web/base.html' %} {% load static %} {% block content %}
<div class="vg-page page-about" id="about">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 py-3">
        <img
          class="img-place wow fadeInUp"
          src="{% static 'web/img/LILIS_SCHOOL.jpg' %}"
          alt="A picture of a group of childs in front of the old school building"
        />
      </div>
      <div class="col-lg-6 offset-lg-1 wow fadeInRight">
        <h2 class="fw-light">
          <img
            class="rounded-circle"
            src="{% static 'web/favicon.ico' %}"
            alt="A picture of a heart"
          />-lich Willkommen in Lilis School
        </h2>
        <h5 class="fg-theme mb-3">Hilfsprojekt Lilis-School</h5>
        <p class="text-muted text-left">
          & DANKE für den Besuch auf unserer Internetseite!<br />Wir sind
          aktuell „im Aufbau“, sowohl von dieser Seite, als auch vom
          Schulgebäude in der Dominikanischen Republik. Beim alten Gemäuer aus
          dem Jahre 1992 regnete es zuletzt unter anderem an einigen Stellen
          durch das Dach, ging die eine Toilette nicht mehr richtig, war
          wenig/er Raum & nun werden dank der Reiner-Meutsch-Stiftung FLY & HELP
          sowie einem Haupt-Spendenpartner dieses großartige Geschenk erhalten &
          damit noch mehr Kinder die Chance auf eine bessere Zukunft.
        </p>
      </div>
      {% for text in WilkommensText %}
      <div class="col-lg-5  wow fadeInRight">
        <h2 class="fw-light">{{ text.HeadLine }}</h2>
        <h5 class="fg-theme mb-3">{{ text.SmallHeadLine }}</h5>
              <p class="text-muted  text-left">{{ text.Text }}</p>
      </div>
      {% if  text.Bild %}
      <div class="col-lg-6 offset-lg-1 py-3">
        <img
          class="img-place wow fadeInUp"
          src="{{ text.Bild.url }}"
          alt="{{ text.BildBeschreibung }}"
        />
      </div>
      {% endif %}

      {% endfor %}
    </div>
  </div>
</div>

<!-- End blog -->
<div class="vg-page" id="RoadMap">
  <div class="container pt-5">
    <div class="text-center">
      <div class="badge badge-subhead wow fadeInUp">Ziele</div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 wow fadeInRight">
        <h2 class="text-center fw-normal">Was ist unser Ziel?</h2>
        <ul class="timeline mt-4 pr-md-5">
          {% for goal in roadmap %}
          <li>
            <div class="title">{{ goal.Jahr}}</div>
            <div class="details">
              <h5>{{ goal.Headline }}</h5>
              <p>{{ goal.Beschreibung }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Wie können Sie helfen? -->
<div class="vg-page page-helping" id="helping">
  <div class="container">
    <div class="text-center">
      <div class="badge badge-subhead wow fadeInUp">Mitwirken</div>
    </div>
    <h2 class="text-center fw-normal wow fadeInRight">
      Wie können Sie helfen?
    </h2>
    <div class="row justify-content-center mt-5 wow fadeInUp">
      <div class="col-md-9"></div>
    </div>
  </div>
</div>


<div class="vg-page page-blog" id="blog">
  <div class="container py-5">
    <div class="text-center">
      <div class="badge badge-subhead wow fadeInUp">Sponsoren</div>
    </div>
    <h2 class="text-center fw-normal wow fadeInUp">Danke an...</h2>
    <div class="row post-grid">
      {% for post in blogs %}
      <div class="col-md-6 col-lg-4 wow fadeInUp">
        <div class="card">
          <div class="img-place">
            <img src="{{ post.Bild1.url }}" alt="" />
          </div>
          <div class="img-place">
            <img src="{{ post.Bild2.url }}" alt="" />
          </div>
          <div class="caption">
            <a href="{% url "blog" blog_id=post.id %}#blog" class="post-title">{{ post.HeadLine }}</a>
            <span class="post-date"
              ><span class="sr-only">Veröffentlicht</span> {{ post.pub_date }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-12 text-center py-3 wow fadeInUp">
        <!--<a href="{% url 'blog' %}" class="btn btn-theme">Danke an...</a>-->
      </div>
    </div>
  </div>
</div>

<div class="vg-page page-testimonial" id="media">
  <div class="container">
    <div class="text-center">
      <div class="badge badge-subhead wow fadeInUp">Fotos</div>
    </div>
    <h2 class="text-center fw-normal wow fadeInUp">
      Hier können Sie einige Fotos sehen
    </h2>
    <div class="col-12 text-center py-3 wow fadeInUp">
      <a href="{% url 'blog' %}" class="btn btn-theme">Alle Fotos</a>
    </div>
    <div class="row justify-content-center mt-5 wow fadeInUp">
     <div class="col-md-9">
        <div class="owl-carousel testi-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-1020px, 0px, 0px);
                transition: all 0.25s ease 0s;
                width: 3060px;
              "
            >
              {% for item in Fotos %}
              <div class="owl-item" style="width: 510px">
                <div class="item">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="img-place">
                        <img src="{{ item.Bild.url }}" alt="" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="caption">
                        <div class="testi-content">{{ item.Beschreibung }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev">
              <span aria-label="Previous">‹</span></button
            ><button type="button" role="presentation" class="owl-next">
              <span aria-label="Next">›</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact -->
<div class="vg-page page-contact" id="contact">
  <div class="container-fluid">
    <div class="text-center wow fadeInUp">
      <div class="badge badge-subhead">Kontakt</div>
    </div>
    <h2 class="text-center fw-normal wow fadeInUp">
      Setzen Sie sich mit uns in Verbindung
    </h2>
    <h3 class="text-center fs-small wow fadeInUp mt-3">
      Sie erhalten ein Kopie per Email
    </h3>
    <div class="col">
      <form class="vg-contact-form form-row" action="" method="POST">
            {% csrf_token %}
          <div class="col-12 mt-3 wow fadeInUp">
           {{ form.sender_name }}
          </div>
          <div class="col-6 mt-3 wow fadeInUp">{{ form.email }}</div>
          <div class="col-6 mt-3 wow fadeInUp">{{ form.subject }}</div>
          <div class="col-12 mt-3 wow fadeInUp">{{ form.message }}</div>
          <button type="submit" class="btn btn-theme mt-3 wow fadeInUp mx-auto">
            Senden
          </button>
      </form>
    </div>
  </div>
</div>
<!-- End Contact -->

{% endblock content %}
